.flat {
  flex-basis: calc(50% - 20px); /* why 20px? because you have 10 margin on the left and 10 on the right */
  margin: 10px;
  cursor: pointer;
}

.flat:hover {
  opacity: 0.9;
}

.flat-picture {
  height: 180px;
  background-size: cover;
  background-position: center;
}

.flat-title {
  margin-top: 10px;
  font-weight: bold;
}
